[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cdcfluview"]
	path = cdcfluview
	url = https://github.com/hrbrmstr/cdcfluview
	shallow = true
	registered = true
[submodule "censys"]
	path = censys
	url = https://github.com/hrbrmstr/censys
	shallow = true
	registered = true
[submodule "darksky"]
	path = darksky
	url = https://github.com/hrbrmstr/darksky
	shallow = true
	registered = true
[submodule "epidata"]
	path = epidata
	url = https://github.com/hrbrmstr/epidata
	shallow = true
	registered = true
[submodule "ggalt"]
	path = ggalt
	url = https://github.com/hrbrmstr/ggalt
	shallow = true
	registered = true
[submodule "hrbrthemes"]
	path = hrbrthemes
	url = https://github.com/hrbrmstr/hrbrthemes
	shallow = true
	registered = true
[submodule "iptools"]
	path = iptools
	url = https://github.com/hrbrmstr/iptools
	shallow = true
	registered = true
[submodule "metricsgraphics"]
	path = metricsgraphics
	url = https://github.com/hrbrmstr/metricsgraphics
	shallow = true
	registered = true
[submodule "ndjson"]
	path = ndjson
	url = https://github.com/hrbrmstr/ndjson
	shallow = true
	registered = true
[submodule "qrencoder"]
	path = qrencoder
	url = https://github.com/hrbrmstr/qrencoder
	shallow = true
	registered = true
[submodule "spiderbar"]
	path = spiderbar
	url = https://github.com/hrbrmstr/spiderbar
	shallow = true
	registered = true
[submodule "swatches"]
	path = swatches
	url = https://github.com/hrbrmstr/swatches
	shallow = true
	registered = true
[submodule "vegalite"]
	path = vegalite
	url = https://github.com/hrbrmstr/vegalite
	shallow = true
	registered = true
[submodule "voteogram"]
	path = voteogram
	url = https://github.com/hrbrmstr/voteogram
	shallow = true
	registered = true
[submodule "waffle"]
	path = waffle
	url = https://github.com/hrbrmstr/waffle
	shallow = true
	registered = true
