[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cdcfluview"]
	path = cdcfluview
	url = https://github.com/hrbrmstr/cdcfluview
[submodule "cymruservices"]
	path = cymruservices
	url = https://github.com/hrbrmstr/cymruservices
[submodule "darksky"]
	path = darksky
	url = https://github.com/hrbrmstr/darksky
[submodule "docxtractr"]
	path = docxtractr
	url = https://gitlab.com/hrbrmstr/docxtractr
[submodule "epidata"]
	path = epidata
	url = https://github.com/hrbrmstr/epidata
[submodule "ggalt"]
	path = ggalt
	url = https://github.com/hrbrmstr/ggalt
[submodule "hrbrthemes"]
	path = hrbrthemes
	url = https://github.com/hrbrmstr/hrbrthemes
[submodule "longurl"]
	path = longurl
	url = https://github.com/hrbrmstr/longurl
[submodule "metricsgraphics"]
	path = metricsgraphics
	url = https://github.com/hrbrmstr/metricsgraphics
[submodule "ndjson"]
	path = ndjson
	url = https://github.com/hrbrmstr/ndjson
[submodule "pluralize"]
	path = pluralize
	url = https://gitlab.com/hrbrmstr/pluralize
[submodule "qrencoder"]
	path = qrencoder
	url = https://github.com/hrbrmstr/qrencoder
[submodule "ropendata"]
	path = ropendata
	url = https://github.com/cran/ropendata
[submodule "sergeant"]
	path = sergeant
	url = https://gitlab.com/hrbrmstr/sergeant
[submodule "spiderbar"]
	path = spiderbar
	url = https://github.com/hrbrmstr/spiderbar
[submodule "statebins"]
	path = statebins
	url = https://gitlab.com/hrbrmstr/statebins
[submodule "swatches"]
	path = swatches
	url = https://github.com/hrbrmstr/swatches
[submodule "tdigest"]
	path = tdigest
	url = https://github.com/hrbrmstr/tdigest
[submodule "uaparserjs"]
	path = uaparserjs
	url = https://gitlab.com/hrbrmstr/uaparserjs
[submodule "ulid"]
	path = ulid
	url = https://gitlab.com/hrbrmstr/ulid
[submodule "vegalite"]
	path = vegalite
	url = https://github.com/hrbrmstr/vegalite
[submodule "voteogram"]
	path = voteogram
	url = https://github.com/hrbrmstr/voteogram
[submodule "waffle"]
	path = waffle
	url = https://github.com/hrbrmstr/waffle
[submodule "wand"]
	path = wand
	url = https://gitlab.com/hrbrmstr/wand
